@model IEnumerable<BookInventory.Book>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <div>
        <text>Search Book : </text><input type="text" name="Search" />&nbsp;
        <input type="submit" value="Search" id="btnSubmit" />
    </div>
}
<br />
<p>
    @Html.ActionLink("Add New Book Details", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publication_year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publication_year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ISBN_Code }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ISBN_Code })
        </td>
    </tr>
    }

</table>
